/*ボディ部分
背景色の変更
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋*/
body {
  background-color: rgb(84, 147, 89);
}
  /*background-color: rgb(84, 147, 89);
}

/*body p#psetumei {
  background-color: vec4(0.32, 0.71, 0.51, 0.87);
}

/*
背景色をlightgreen
ボックスの余白（padding）の指定10px
ボーダーの角丸の指定
ボックスのマージンの指定,bottom:10px
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋*/
header {
  background-color: lightgreen;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

/* メインコンテンツ */
main {
  padding: 10px 20px 10px;
  font-family: sans-serif;
}

.midashi{
  border-left: 10px solid rgb(161, 255, 182);
}

main p {
    margin-left: 20px;
}

/*セクション部分
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋*/
section {
  border-radius: 7px;
  background-color: white;
  padding: 10px;
  border-radius: 7px;
  margin-left: 0px;
  margin-bottom: 10px;
}

article {
  font-size: 18px;
  line-height: 50px;
}

/*フッター部分
背景色lightgreen
余白１０ｐｘ
角丸７ｐｘ
clear both;
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋*/
footer {
  background-color: #D1E0D2;
  padding: 10px;
  border-radius: 7px;
  clear: both;
}

/*インラインフレーム*/
main.inline {
  padding: 0px;
  min-width: 580px;
}

iframe #maincontenr {
  height: 700px;
  width: 100%;
  border: ;
}
