
/*ボディ部分
背景色を#ffffed
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋*/
body p{
	background-color: #ffffed;
}

/*ヘッダー部分
フォントをイタリック体（斜体）
h1を中央揃え
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋*/

header h1{
	font-style: italic;
	text-align: center;
		text-shadow: 2px 2px 2px gray;
}

/*セクション部分
フォントサイズを1.1
フォントをゴシック体へ
文字色をdarkblue
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋*/
section{
	font-size: 1.1em;
	font-family: sans-serif;
	color: darkblue;
}

nav{
	background-color: rgba(107, 255, 243, 0.63);
}
